.close {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.localtion-weather-tab {
  width: 600px;
  padding: 32px 48px 16px 16px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}