.tab-close {
    color: gray;
    text-align: right;
    cursor: pointer;
    margin-left: 8px;
}

li {
    margin-right: 4px;
}

li:not(.active) {
    background-color: darkcyan;

    &:hover {
        background-color: dark;
    }

}

li:not(.active) a {
    color: white;
}

li:not(.active) span {
    color: white;
}


.weather-tab.nav>li:not(.active)>a:focus,
.weather-tab.nav>li:not(.active)>a:hover {
    text-decoration: none;
    background-color: blue;
    outline: 2px solid blue;
}

